[Unit]
Description=Systemd Service to Reset Hyprland Monitor Config
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "echo '' > /home/talha/.config/hypr/laptop_display.conf"
Restart=no

[Install]
WantedBy=multi-user.target
